@using VA.Models
@model VA.ViewModel.MemberAppointmentViewModel

@{  ViewBag.Title = "Member Profile";
    Layout = "~/Views/Shared/_test.cshtml";

    Html.RenderPartial("~/Views/PatialViews/_MemberSideBar.cshtml", Model.member);

    IEnumerable<Appointment> appWait = Model.waitAppointments;
    IEnumerable<Appointment> appCom = Model.comAppointments;
}


<div class="pusher">

    <div class="ui secondary pointing massive menu" style="background-color:white;padding-right:270px;border:none!important;font-size:16px">

        <div class="right menu">
            <a href="/VA/Home/Logout" class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">

        <div class="ui top attached tabular menu">

            <a class="item active" data-tab="first">Month appointment</a>
            <a class="item " href="@Url.Action("MemberPet", "Member", new { id = @Model.member.id })" >Pet</a>
            <a class="item " href="@Url.Action("CreateAppointment", "Member", new { id = @Model.member.id })">Create appointment</a>
        </div>



        @* -------------------------Member's Appointment---------------------------------------- *@
        <div class="ui bottom attached tab segment active" data-tab="first">
            <div class="ui grid" style="padding-bottom: 15px">
                <div class="eight wide column">
                    <div class="ui calendar example7">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time" value="'@Model.date.ToString("MMM")'">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="member" value="@Model.member.id">
            <div class="ui grid">


                <div class="sixteen wide column">


                    @* ---------------------------------- Waiting monthly appointment---------------------------- *@
                    <div class="ui segment">
                        <div class="ui teal large label">
                            Waiting appointment
                        </div>
                        @if (appWait != null && appWait.ToList().Count > 0)
                        {
                            <table class="ui selectable  table" style="border:none!important">
                                <thead>
                                    <tr>
                                        <th class="two wide">Date</th>
                                        <th class="three wide">Time</th>
                                        <th class="two wide">Pet name</th>
                                        <th class="one wide">Service</th>
                                        <th class="two wide">Detail</th>
                                        <th class="three wide">Suggestion</th>
                                        <th class="one wide" style="text-align:center">Edit</th>
                                        <th class="one wide" style="text-align:center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var app in appWait)
                                    {
                                        Html.RenderPartial("~/Views/PatialViews/_MemberAppointment.cshtml", app);
                                    }
                                </tbody>
                            </table>

                        }
                        else
                        {  <div style="text-align:center">No Appointment</div>}
                    </div>


                    @* ----------------------------------Complete monthly appointment---------------------------- *@
                    <div class="ui segment">

                        <div class="ui grey large label">
                            Complete appointment
                        </div>

                        @if (appCom != null && appCom.ToList().Count > 0)
                        {
                            <table class="ui selectable  table" style="border:none!important">
                                <thead>
                                    <tr>
                                        <th class="two wide">Date</th>
                                        <th class="three wide">Time</th>
                                        <th class="two wide">Pet name</th>
                                        <th class="one wide">Service</th>
                                        <th class="two wide">Detail</th>
                                        <th class="three wide">Suggestion</th>
                                        <th class="one wide" style="text-align:center">Edit</th>
                                        <th class="one wide" style="text-align:center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var app in appCom)
                                    {
                                        Html.RenderPartial("~/Views/PatialViews/_MemberAppointment.cshtml", app);

                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {  <div style="text-align:center"> No Appointment</div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
