@using VA.Models
@model VA.ViewModel.MemberPetViewModel

@{  ViewBag.Title = "Member Profile";
    Layout = "~/Views/Shared/_test.cshtml";

    IEnumerable<Pet> pets = Model.pets;
    IEnumerable<Specie> species = Model.species;

    Html.RenderPartial("~/Views/PatialViews/_MemberSideBar.cshtml", Model.member);
}

<div class="pusher">

    <div class="ui secondary pointing massive menu" style="background-color:white;padding-right:270px;border:none!important;font-size:16px">
        <div class="item">
            <i class="paw icon"></i> Hello, administrator  <text style="color:teal;padding-left:5px">  @Session["username"].ToString() </text>
        </div>
        <div class="right menu">
            <a href="/VA/Home/Logout" class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">

        <div class="ui top attached tabular menu">

            <a class="item " href="@Url.Action("Index", "Member", new { id = @Model.member.id })">Month appointment</a>
            <a class="item active" href="@Url.Action("MemberPet", "Member", new { id = @Model.member.id })">Pet</a>
            <a class="item " href="@Url.Action("CreateAppointment", "Member", new { id = @Model.member.id })">Create appointment</a>
        </div>



        @* -------------------------Member's Pet---------------------------------------- *@
        <div class="ui bottom attached tab segment active" data-tab="second">

            <div class="ui grid" style="padding-bottom: 15px">
                <div class="eight wide column">
                </div>
                <div class="eight wide column">
                    <button class="ui right floated teal button" id="call_create_pet_modal">Create new pet profile</button>
                </div>
            </div>

            @{

                if (pets != null && pets.ToList().Count > 0)
                {
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Specie</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>


                            @{    foreach (var pet in pets)
                                {
                                    <tr>
                                        <td>@pet.name</td>
                                        <td>@pet.Specie.name</td>
                                        <td class="collapsing">
                                            <button class="ui teal button call_edit_pet_modal" data-id="@pet.id">
                                                <i class="write square icon"></i>
                                                Edit
                                            </button>
                                        </td>
                                        <td class="collapsing">
                                            <button class="ui button delete_pet_button" data-id="@pet.id">
                                                <i class="remove icon"></i>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
  <div class="ui modal" id="edit_pet_modal_@pet.id" style="left: 60%;width: 40%;margin-top: -114.5px;">
        <div class="header">
            Edit pet
        </div>
        <div class="content">
            <div class="ui form" id="edit_pet_form">
                <input type="hidden" id="edit_pet_@pet.id" value="@pet.id">
                <input type="hidden" id="edit_pet_type" value="@pet.Specie.id">
                <div class="field">
                    <label>Pet name</label>
                    <input name="petName" type="text" id="edit_petName_@pet.id" value="@pet.name">
                </div>

                <select name="specie" class="ui dropdown" id="select_edit_specie_@pet.id">
                    @{
                        if (species != null && species.ToList().Count > 0)
                        {
                            foreach (var specie in species)
                            {
                                <option value="@specie.id">@specie.name</option>
                            }
                        }
                    }

                </select>
                <script type="text/javascript">
                        $("#select_edit_specie_@pet.specieId").val('@pet.specieId');
                </script>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui green basic button confirm_edit_pet_button" value="@pet.id">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>
                                }
                            }
                        </tbody>
                    </table>
                                }
                                else
                                {  <div class="ui segment" style="text-align:center"> No pet profile </div>}
            }





        </div>



    </div>
</div>



<div class="ui modal" id="create_pet_modal" style="left: 60%;width: 40%;margin-top: -114.5px;">
    <div class="header">
        Create new pet account
    </div>
    <div class="image content">
        <form class="ui form" id="create_pet_form">
            <input type="hidden" id="member" value="@Model.member.id">
            <div class="field">
                <label>Pet name</label>
                <input name="petName" type="text" id="petName">
            </div>

            <select name="specie" class="ui dropdown" id="select_specie">
                @{
                    if (species != null && species.Count() > 0)
                    {
                        foreach (var specie in species)
                        {
                            <option value="@specie.id">@specie.name</option>
                        }
                    }
                }
            </select>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui ok green basic button">
            <i class="checkmark icon"></i>
            Confirm
        </div>
    </div>
</div>