@using VA.Models;
@model VA.Models.Member

@{  ViewBag.Title = "Member Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<Appointment> appWait = (IEnumerable<Appointment>)ViewData["AppointmentsWait"];
    IEnumerable<Appointment> appCom = (IEnumerable<Appointment>)ViewData["AppointmentsCom"];
    IEnumerable<PetType> pettypes = (IEnumerable<PetType>)ViewData["PetTypes"];
    IEnumerable<Appointment> allApp = (IEnumerable<Appointment>)ViewData["AllApp"];
    IEnumerable<Pet> pets = (IEnumerable<Pet>)ViewData["Pets"];
    IEnumerable<TimeBlock> timeBlocks = (IEnumerable<TimeBlock>)ViewData["TimeBlock"];
    IEnumerable<VAService> services = (IEnumerable<VAService>)ViewData["Services"];

}

<div class="ui vertical left visible sidebar menu" style="font-size:">
    <div class="item" style="font-family: 'Raleway', sans-serif; font-size:48px;text-align:center;font-weight:bold;margin-bottom:55px;color:white;background-color:teal">

        VA

    </div>

    <div class="ui secondary vertical pointing massive menu" style="color:darkgray;background-color: rgb(250, 250, 250);">

        <a href="/VA/Home/Member/" class="item" style="font-size:16px;background-color:white!important">
            <i class="left arrow icon" style="float:left;padding-right:25px"></i>
            All Member
        </a>
        <div class="item"></div>
        <div class="item" style="font-size:16px;color:#00B5AD;font-weight:bolder">
            <i class="user icon" style="float:left;padding-right:25px"></i>
            Member profile
        </div>


        <div class="item" style="font-size:16px">
            Password : @Model.password
        </div>
        <div class="item" style="font-size:16px">
            Name : @Model.name @Model.surname
        </div>
        <div class="item" style="font-size:16px">
            Address : @Model.address
        </div>
        <div class="item" style="font-size:16px">
            Phone number : @Model.phonenumber
        </div>
        <div class="item" style="font-size:16px">
            <button class="ui teal basic button call_edit_member_modal" style="width:65%">Edit Account</button>
        </div>
        <div class="item">

        </div>

        <div class="item" style="font-size:16px;background-color:white!important">
            <button class="ui red basic button delete_member_button" data-id="@Model.id" style="width:65%">Delete Account</button>
        </div>
    </div>
</div>
<div class="pusher">

    <div class="ui secondary pointing massive menu" style="background-color:white;padding-right:270px;border:none!important;font-size:16px">
        <div class="item">
            <i class="paw icon"></i> Hello, administrator  <text style="color:teal;padding-left:5px">  @Session["username"].ToString() </text>
        </div>
        <div class="right menu">
            <a href="/VA/Home/Logout" class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">

        <div class="ui top attached tabular menu">

            <a class="item active" data-tab="first">Month appointment</a>
            <a class="item " data-tab="third">Create appointment</a>
        </div>



        @* -------------------------Member's Appointment---------------------------------------- *@
        <div class="ui bottom attached tab segment active" data-tab="first">
            <div class="ui grid" style="padding-bottom: 15px">
                <div class="eight wide column">
                    <div class="ui calendar test_app_calendar">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time" value="'@ViewBag.DateTime.ToString("D")'">
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <button class="ui right floated teal button" id="call_create_app_modal">Create new appointment</button>
                    <button class="ui right floated teal button" data-id="@Model.id">Test Create new appointment</button>
                </div>
            </div>

            <div class="ui grid">


                <div class="sixteen wide column">


                    @* ---------------------------------- Waiting monthly appointment---------------------------- *@
                    <div class="ui segment">
                        <div class="ui teal large label">
                            Waiting appointment
                        </div>
                        @if (appWait != null && appWait.ToList().Count > 0)
                        {
                            <table class="ui single line selectable  table" style="border:none!important">
                                <thead>
                                    <tr>
                                        <th class="one wide">Date</th>
                                        <th class="two wide">Pet name</th>
                                        <th class="four wide">Detail</th>
                                        <th class="four wide">Suggestion</th>
                                        <th class="one wide">Status</th>
                                        <th class="two wide" style="text-align:center">Edit</th>
                                        <th class="two wide" style="text-align:center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var app in appWait)
                                    {
                                        <tr>
                                            <td>@app.date.ToString("d")</td>
                                            <td> @app.Pet.name</td>
                                            <td>@app.detail</td>
                                            <td>@app.suggestion</td>
                                            <td style="color:teal">@app.status</td>
                                            <td style="text-align:right">
                                                <button class="fluid ui teal basic button call_edit_app_modal" data-id="@app.id">edit</button>

                                            </td>
                                            <td style="text-align:right">
                                                <button class="fluid ui red basic button delete_app_button" data-id="@app.id">delete</button>
                                            </td>
                                        </tr>
                                        <div id="edit_app_modal_@app.id" class="ui modal" style="left: 60%;width: 40%;margin-top: -114.5px;">
                                            <div class="header">
                                                Edit Appointment
                                            </div>

                                            <div class="content">

                                                <div class="ui form" id="edit_app_form">
                                                    <div class="field">
                                                        <label>Appointment date<text style="color:darkred"> ( Can't change )</text></label>
                                                        <div class="ui calendar test_app_calendar">
                                                            <div class="ui disabled input left icon">
                                                                <i class="time icon"></i>
                                                                <input type="text" name="date" value="@app.date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <label>Pet name <text style="color:darkred"> ( Can't change )</text></label>
                                                        <div class="ui disabled input left icon">
                                                            <i class="paw icon"></i>
                                                            <input type="text" name="petName" value="@app.Pet.name">
                                                        </div>

                                                    </div>
                                                    <div class="field">
                                                        <label>Short detail</label>
                                                        <input name="detail" type="text" id="edit_detail_@app.id" value="@app.detail">
                                                    </div>

                                                    <input type="hidden" id="edit_app_@app.id" value="@app.id">
                                                    <div class="field">
                                                        <label>Suggestion before come to clinic</label>
                                                        <input name="suggestion" type="text" id="edit_suggestion_@app.id" value="@app.suggestion">
                                                    </div>
                                                    <div class="ui error message"></div>

                                                </div>
                                            </div>
                                            <div class="actions">
                                                <div class="ui black deny button">
                                                    Cancel
                                                </div>
                                                <div class="ui tiny green basic button confirm_edit_app_button" value="@app.id">
                                                    <i class="checkmark icon"></i>
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>
                            </table>

                        }
                        else
                        {  <div style="text-align:center"> No Appointment</div>}
                    </div>


                    @* ----------------------------------Complete monthly appointment---------------------------- *@
                    <div class="ui segment">

                        <div class="ui grey large label">
                            Complete appointment
                        </div>

                        @if (appCom != null && appCom.ToList().Count > 0)
                        {
                            <table class="ui single line selectable  table" style="border:none!important">
                                <thead>
                                    <tr>
                                        <th class="one wide">Date</th>
                                        <th class="two wide">Pet name</th>
                                        <th class="four wide">Detail</th>
                                        <th class="four wide">Suggestion</th>
                                        <th class="one wide">Status</th>
                                        <th class="two wide" style="text-align:center">Delete</th>
                                        <th class="two wide"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var app in appCom)
                                    {
                                        <tr>
                                            <td>@app.date.ToString("d")</td>
                                            <td>@app.Member.name</td>
                                            <td> @app.Pet.name</td>
                                            <td>@app.detail</td>
                                            <td style="color:red">@app.status</td>
                                            <td style="text-align:center">
                                                <button class="fluid ui red basic button">delete</button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {  <div style="text-align:center"> No Appointment</div>}


                    </div>

                </div>



            </div>
        </div>


        @* -------------------------Create appointment section---------------------------------------- *@
        <div class="ui bottom attached tab segment" data-tab="third">
            <div class="ui basic segment">
                <div class="header">
                    Create appointment for @Model.name @Model.surname
                </div>

                <div class="ui grid">
                    <div class="nine wide column">


                        <form class="ui form" id="create_app_form">
                            <div class="field">
                                <label>Select date</label>
                                <div class="ui calendar test_app_calendar">
                                    <div class="ui input left icon">
                                        <i class="time icon"></i>
                                        <input type="text" placeholder="Date" name="date" id="date" value="'@ViewBag.DateTime.ToString("D")'">
                                    </div>
                                </div>
                            </div>
                            @*    <div class=" field">
                                    <div class="ui checkbox mycheck">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>All day</label>
                                    </div>
                                </div>
                            *@

                            <div class="inline field">
                                <div class="ui input" id="timeOnlyExample">
                                    <input type="text" class="time start" id="start" /> to
                                    <input type="text" class="time end" id="end" />

                                </div>
                            </div>

                            <div class="field">
                                <label>Select pet</label>
                                <select name="pet" class="ui dropdown" id="select_pet">

                                    @if (pets != null && pets.ToList().Count > 0)
                                    {
                                        foreach (var pet in pets)
                                        {
                                            <option value="@pet.id">[@pet.PetType.name] @pet.name </option>
                                        }
                                    }
                                    }
                                </select>
                            </div>
                            <div class="field">
                                <label>Select service</label>
                                <select name="service" class="ui dropdown" id="select_service">

                                    @if (services != null && services.ToList().Count > 0)
                                    {
                                        foreach (var service in services)
                                        {
                                            <option value="@service.id"> @service.description </option>
                                        }
                                    }
                                    }
                                </select>
                            </div>
                            <input name="appType" type="hidden" id="type" value="setTime">
                            <input name="member" type="hidden" id="member" value="@Model.id">
                            <div class="field">
                                <label>Short detail</label>
                                <input name="detail" type="text" id="detail">
                            </div>

                            <div class="field">
                                <label>Suggestion before come to clinic</label>
                                <input name="suggestion" type="text" id="suggestion">
                            </div>
                            <div class="ui error message"></div>
                            <div class="actions">
                                <div class="ui black deny button">
                                    Cancel
                                </div>
                                <div class="ui tiny green basic button test_create_button" data-id="@Model.id">
                                    <i class="checkmark icon"></i>
                                    Confirm
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="seven wide column">

                        <table class="ui striped table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>status</th>
                                    <th>cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TimeBlock timeblock in timeBlocks)
                                {
                                    <tr class="top aligned">
                                        <td>@timeblock.startTime.ToShortTimeString() - @timeblock.endTime.ToShortTimeString()</td>
                                        <td class="top aligned">
                                            @timeblock.status
                                        </td>
                                        @if (timeblock.status == "Free")
                                        {
                                            <td class="top aligned" style="color:green">@timeblock.numberofCase</td>
                                        }
                                        @if (timeblock.status == "Busy")
                                        {
                                            <td class="top aligned" style="color:orange">@timeblock.numberofCase</td>
                                        }
                                        @if (timeblock.status == "Full")
                                        {
                                            <td class="top aligned" style="color:red">@timeblock.numberofCase</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
<div class="ui modal" id="test_modal">
    <div class="header">Header</div>
    <div class="content">
        <div class="result"></div>
        <p>Adding more case might lead to work overload</p>
    </div>
    <div class="actions">
        <div class="ui approve button confirm_create_button">Confirm</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>