@using VA.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
@{
    IEnumerable<Specie> species = Model;

}
@{
    Html.RenderPartial("~/Views/PatialViews/_CreateSpecieModl.cshtml");
}

<div class="ui padded segment" style="margin-right: 18.5em;background-color:#FAFAFA;border:0px;box-shadow:none">
    <h2 class="ui header" style="margin-bottom: 25px;"></h2>
    <div class="ui secondary pointing menu">
        <div class="right menu">
            <div class="ui form">
                <div class="inline fields">
                    <button class="ui right floated teal button call_create_specie_modal">
                        <i class="plus icon"></i>
                        Create new pet specie
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="ui active tab segment" data-tab="first">

        @{

            if (species != null && species.ToList().Count > 0)
            {
                <table class="ui single line selectable  table" style="border:none!important">
                    <thead>
                        <tr>
                            <th class="one wide">No</th>
                            <th class="two wide">Name</th>
                            <th class="two wide">Edit</th>
                            <th class="two wide">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int index = 0;
                            foreach (var specie in species)
                            {
                                index += 1;

                                <tr>
                                    <td>@index</td>
                                    <td>@specie.name</td>
                                    <td>
                                        <button class="ui blue basic button call_edit_type_modal" data-id="@specie.id">Edit</button>
                                    </td>
                                    <td>
                                        <button class="ui red basic button delete_type_button" data-id="@specie.id" style="width:65%">Delete</button>
                                    </td>
                                </tr>
                                <div id="edit_type_modal_@specie.id" class="ui modal" style="left: 60%;width: 40%;margin-top: -114.5px;">
                                    <div class="header">
                                        Edit Specie
                                    </div>
                                    <div class="content">

                                        <div class="ui form">
                                            <div class="field">
                                                <label>Specie name</label>
                                                <div class="ui input left icon">
                                                    <i class="paw icon"></i>
                                                    <input type="text" name="typeName" value="@specie.name" id="edit_name_@specie.id">
                                                </div>
                                                <input type="hidden" id="edit_type_@specie.id" value="@specie.id">
                                            </div>
                                            <div class="ui error message"></div>

                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="ui black deny button">
                                            Cancel
                                        </div>
                                        <div class="ui tiny green basic button confirm_edit_type_button" value="@specie.id">
                                            <i class="checkmark icon"></i>
                                            Confirm
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </tbody>
                </table>
                            }
                            else
                            {
                                <h4 class="ui center aligned  header">
                                    "No pet specie"
                                </h4>
                            }




        }




    </div>



</div>
