
@model VA.Models.Pet



<div class="ui modal" id="edit_pet_modal_@Model.id" style="left: 60%;width: 40%;margin-top: -114.5px;">
    <div class="header">
        Edit pet
    </div>
    <div class="content">
        <div class="ui form" id="edit_pet_form">
            <input type="hidden" id="edit_pet_@Model.id" value="@Model.id">
            <input type="hidden" id="edit_pet_type" value="@Model.PetType.id">
            <div class="field">
                <label>Pet name</label>
                <input name="petName" type="text" id="edit_petName_@Model.id" value="@Model.name">
            </div>

            <select name="specie" class="ui dropdown" id="select_edit_specie_@Model.id">
    @* ส่วนที่เป็นปัญหา เพราะ model ในหน้านี้มีแค่ pet *-* หน้านี้เป็น patialview ฮับ
        {
        if (pettypes != null && pettypes.ToList().Count > 0)
        {
            foreach (var type in pettypes)
            {
                <option value="@type.id">@type.name</option>
            }
        }
    }
        *@

            </select>
            <script type="text/javascript">
               $("#select_edit_specie_@Model.id").val('@Model.typeId');
            </script>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui green basic button confirm_edit_pet_button" value="@Model.id">
            <i class="checkmark icon"></i>
            Confirm
        </div>
    </div>
</div>
