
@model VA.Models.Member

<tr class="clickable-row" data-id="@Model.id" style="cursor:pointer">
    <td>@Model.name</td>
    <td>@Model.surname</td>
    <td>@Model.email</td>
    <td>@Model.address</td>
    <td>@Model.phonenumber</td>
</tr>